footer {
    background-color: $colorb;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .icons {
        width: 60%;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: solid $color3 0.5px;
        margin-top: 1.50em;
        padding-block: 2em;
   
        .social {
            svg {
                color: $colora;
                font-size: 2.5em;
                @include hover;
            }
            
        }


    }

    nav {
        width: 60%;
        margin: auto;
        border-bottom: solid 0.5px $color3;
        padding-bottom: 1.25em;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            text-align: center;
            li {
                a {
                    @include menulink (1.5em);
                    @include hover;
                }
            }
        }
    }

    span {
        font-family: $fontsec;
        color: $colora;
        padding: 1.5em;
    }

    // Media queries

    @media (max-width: 992px) {
        nav {
            width: 90%;
            ul {
                flex-direction: column;
                justify-content: space-between;
                li {
                    padding: 1em 0;
                    a {
                        font-size: 1.25em;
                    }
                }
            }
        }
    }
    @media (max-width: 767px){

        .icons {
            width: 90%;
            flex-wrap: wrap-reverse;
            row-gap: 0.5em;
            .custom-logo-link {
                order: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 3em;
           }
        }
    }
}