/* The progress container */
.progress-container {
    width: 100%;
    height: 0.5em;
}
  
/* The progress bar (scroll indicator) */
.progress-bar {
    height: 100%;
    background: $color1;
    width: 0%;
}