#mybtn {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: $color1;
    color: $colora; 
    cursor: pointer; 
    padding: 10px 15px; 
    border-radius: 50px; 
    font-size: 1.5em; 
    font-weight: bold;
}
  
  #mybtn:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05); 
}